body{
    background-color: rgb(223, 223, 223);
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4, p, a{
    margin: 0;
}

ul, li, b, i{
    font-size: 12px;
}

.page{
    background-color: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(122, 122, 122, 0.5);
}

.page[data-size="A4"]{
    width: 21cm;
    height: 29.7cm;    
}

.header-grid{
    display: grid;
    grid-template-columns: 8cm 5cm 8cm;
    justify-content: center;
    padding-top: 25px;
}

.header-column-1{
    padding-left: 30px;
    padding-right: 30px;
}
.occupation{
     font-size: 16px;
     font-weight: 100;
     margin-top: 15px;
     margin-bottom: 15px;
     color: darkgrey;
}
.about{
    font-size: 14px;
}
.full-name{
    font-size: 35px;
    line-height: 35px;
    margin: 0;
}
.header-column-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-column-3{
    padding-right: 30px;
}
.profile-image{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    box-shadow: 0 0 0.2cm rgba(122, 122, 122, 0.5);
}

.header-column-3-item{
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    margin-bottom: 15px;

}

.header-column-3-item span, .header-column-3-item a {
    margin-right: 10px;
}

/* Content Grid */
.content-grid{
    display: grid;
    grid-template-columns: 10.5cm 10.5cm;
    height: 100%;
}

.content-left, .content-right{
    padding-left: 30px;
    padding-right: 20px;
}
.content-left-item, .content-right-item{
    margin-top: 20px;
}
.content-left-item h2, .content-right-item h2{
    width: 200px;
    border-top: 2px solid #02b55b;;
    border-bottom: 2px solid #02b55b;;
    color: #02b55b;
}

.content-left-item h3, .content-right-item h3{
  margin-top: 10px;
  font-size: 16px;
}

.content-left-item span, .content-right-item span {
    font-size: 12px;
    font-style: italic;
    color: rgb(114, 114, 114);
}
.institution-name{
    font-size: 14px;
}

.project-name{
    font-size: 12px;
}

.year-location{
    display: flex;
    justify-content: space-between;
    font-style: italic;
    margin-top: 5px;
}

.year-location p{
    font-size: 12px;
}

.content-left-item .position{
    font-size: 20px;
}

.content-left-item .company-name{
    font-weight: 100;
}

.content-left-item .task-completed{
    font-style: italic;
    font-size: 12px;
}

.skills{
    display: flex;
    margin-top: 10px;
}

.skills-column{
    margin-right:10px

}
.skill{
    background-color: #02b55b;
    color: white;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}